<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div>
            <input id="username-input" type="text" class="form-control input-sm" placeholder="User name" value="ericka"/>

            <input id="message-input"  type="text" class="form-control input-sm" placeholder="Message" />
            <button id="send-message">Send Message</button>

            <div class="chat-panel panel panel-default">
                <div class="panel-body">
                    <ul id="chat">
                        <li id="masterLi">
                            <div class="header">
                                <strong class="primary-font"></strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i><k></k>
                                </small>
                            </div>
                            <p></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            let counter = 0;
            const masterLi = document.getElementById('masterLi');
            const usernameInput = document.getElementById('username-input');
            const messageInput = document.getElementById('message-input');
            const chat = document.getElementById('chat');

            const writeMessage = (username, message) => {
                const newLi = masterLi.cloneNode(true);
                newLi.id = 'li_' + ++counter;
                newLi.getElementsByTagName('p')[0].textContent = message
                newLi.getElementsByTagName('k')[0].textContent = new Date().toString();
                newLi.getElementsByTagName('strong')[0].textContent = username;
                chat.appendChild(newLi);
            }

            document.getElementById('send-message').onclick = () => {
                const username = usernameInput.value;
                const message = messageInput.value;

                const body = {
                    action: 'sendmessage',
                    payload: {
                        username,
                        message
                    },
                };

                ws.send(JSON.stringify(body));

                messageInput.value = '';
            }

            const ws = new WebSocket('wss://6q1870d53m.execute-api.eu-west-2.amazonaws.com/ws_primary');

            ws.onopen = (e) => console.log('opened', e);
            ws.onclose = (e) => console.log('closed', e);
            ws.onerror = (e) => console.error('error', e);
            ws.onmessage = (e) => {
                const { username, message } = JSON.parse(e.data);
                if (username && message) {
                    writeMessage(username, message);
                }
            }
        </script>
    </body>
</html>